<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <appender name="NHibernateFileLog"
				  type="log4net.Appender.RollingFileAppender">
      <file value="nhibernate.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c - %m%n"  />
      </layout>
    </appender>

    <appender name="NHibernateSQLFileLog"
      type="log4net.Appender.RollingFileAppender">
      <file value="nhibernate_sql.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c - %m%n"  />
      </layout>
    </appender>

    <appender name="FileLog"
				  type="log4net.Appender.RollingFileAppender">
      <file value="application.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c - %m%n"  />
      </layout>
    </appender>

    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <param name="RemoteAddress" value="127.0.0.1" />
      <param name="RemotePort" value="877" />
      <layout type="log4net.Layout.XmlLayout">
        <locationInfo value="true" />
      </layout>
    </appender>

    <!-- levels: DEBUG, INFO, WARN, ERROR, FATAL -->

    <root>
      <level value="WARN"/>
      <appender-ref ref="FileLog"/>
    </root>
    <logger name="NHibernate"
				additivity="false">
      <level value="ERROR"/>
      <appender-ref ref="NHibernateFileLog"/>
    </logger>
    <logger name="NHibernate.SQL" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="NHibernateSQLFileLog"/>
    </logger>
  </log4net>
</configuration>